fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
numpy<2
tflite-runtime
langchain
langchain-groq
langgraph
feedparser
skyfield
Pillow
PyJWT
python-multipart
passlib[bcrypt]
bcrypt
razorpay